<% provide(:title, "show") %>

<h1>
  <%= @post.title %>
  <% if current_user == @post.user %>
    <small class="post_destroy">
      <%= link_to " Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
    </small>
  <%end%>
</h1>

<div class="clearfix">
  <p><%= @post.content %></p>
  <hr/>

  <div class="comments">
    <div class="list-comments">
      <% if @post.comments.empty? %>
        <p>No comments.</p>
      <% else %>
        <% @post.comments.each do |comment| %>
          <div class="post">
            <b><%= comment.user.name %></b>
            <p>
              <i><%= comment.text %></i>
              <small class="comment_destroy">
                <% if current_user == comment.user %>
                  <%= link_to " Delete", post_comment_path(post_id: comment.post, id:   comment.id), method: :delete, data: {confirm: "Are you sure?"} %>
                <% end %>
              </small>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <div class="form-comments">
      <% unless @comment.nil? %>
        <%= render partial: 'shared/error_messages', locals: { model: @comment } %>
      <% end %>
      <% if logged_in? %>
        <div class="row">
          <div class="col-md-5 col-md-offset-0"> 
            <%= form_for [@post, @post.comments.build] do |f| %>

              <div class="form-group">
                <%= f.text_field :text, class: 'form-control' %>
                <%= f.hidden_field :post_id, class: 'form-control' %>
              </div>
              <%= f.submit "Commenter", class: "btn btn-primary" %>
            <% end %>
          </div>  
        </div>  
      <% end %>
    </div>

  </div>

</div>
